.x text {
  /*transform: rotate(45deg) !important;*/
  text-anchor: middle !important;
}

.ratio-item-title {
  text-align: center;
}

.ratio-item-note {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid #CCC;
}
