body {
  background-color: #e7e7e7;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.valign {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-middle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}


.origin-frame {
  width: 1280px;
  height: 786px;
  border: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.iframe {
  width: 100%;
  height: 90vh;
}

.header {
  padding-top: 20px;
  padding-left: 20px;
  height: 7vh;
}


.notebook > .screen:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #a5adbd;
  height: 10px;
  width: 10px;
  margin: -22.5px 0px 0px 587.5px;
}

.notebook > .screen {
  background: #f4f5f7;
  border-radius: 15px 15px 0 0;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 45px 37.5px;
}

.notebook > .keyboard {
  background: #f4f5f7;
  border-radius: 5px 5px 25px 25px;
  height: 37.5px;
  width: 1375px;
  position: relative;
  margin: 0 auto;
}

.notebook > .keyboard:after {
  content: "";
  position: absolute;
  background: #d8dbe1;
  height: 5px;
  width: 68.75px;
  border-radius: 0 0 8px 8px;
  left: 653.125px;
}

.ipad {
  background: #fcfcfc;
  border-radius: 10px;
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  padding: 50px 30px 80px 30px;
}

.ipad .screen {
  background: inherit;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.ipad .screen iframe {
  border: 1px solid #CCC;
}

.ipad .screen:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 10px;
  width: 10px;
  margin: -25px 0px 0px 500.5px;
  border-radius: 50%;
  z-index: 1000;
}

.iphone {
  background: #fcfcfc;
  border-radius: 10px;
  margin: 0 auto;
  height: 571px;
  width: 337.5px;
  padding: 42px 13.5px 78px 13.5px;
}

.iphone .screen {
  background: inherit;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.iphone .screen iframe {
  border: 1px solid #CCC;
}

.iphone .screen:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 5px;
  width: 5px;
  margin: -21px 0px 0px 160.25px;
  border-radius: 50%;
}
.desktop {
  height: 90vh;
}
